<h2>Hello Angular 13</h2>
{{title}}

<h3>Parent Componet</h3>
<app-other [name]="parentName"></app-other>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr/>
<form>
    <label>Name : </label><input [value]="name" type="text" #inputName (input)="doShowName(inputName.value)" />
    <br /><label>Name3 2-ways binding : </label><input  name="aaa" [(ngModel)]="name" />
    <br /><label>Name3 2-ways binding : </label><input  name="bbb" [ngModel]="name" (ngModelChange)="name=$event" />
    <p *ngIf="!name">Please Enter Your Name</p>
    <p *ngIf="name">Hi {{name | uppercase}}</p>

    <p *ngIf="name; else showDefault">Hi 2 {{name | uppercase | lowercase | myPipe}}</p>
    <ng-template #showDefault>Please Enter Your Name 2</ng-template>


    <p>Use NgFor</p>
    <div *ngFor="let item of listsData">{{item.fname}}</div>
    

</form>